*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #FAF7F2;
    color: #333;
}

/* Cabeçalho */

#cabecalho{
    background: #3E2723;
    color: white;
    padding: 20px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cabecalho nav a{
    color: white;
    text-decoration: none;
    margin-left: 20px;
    transition: 0.3s;
}

#cabecalho nav a:hover{
    color: #A97142;
}

/* Banner */

#banner{
    text-align: center;
    padding: 40px;
}

#banner h2{
    color: #3E2723;
    font-size: 35px;
    margin-bottom: 10px;
}

#banner p{
    color: #666;
}

/* Cardápio */

#cardapio{
    width: 95%;
    margin: auto;
}

#cardapio h2{
    text-align: center;
    margin-bottom: 30px;
    color: #3E2723;
}

/* Produtos */

.produto{
    display: flex;
    align-items: center;
    gap: 20px;

    background: white;

    width: 60%;
    margin: 20px auto;

    padding: 15px;

    border-radius: 12px;

    box-shadow: 0 5px 12px rgba(0,0,0,.15);

    transition: 0.3s;
}

.produto:hover{
    transform: translateY(-5px);
}

/* Imagem */

.produto img{
    width: 180px;
    height: 140px;
    object-fit: cover;
    border-radius: 10px;
}

/* Nome e preço */

.topo-produto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    margin-bottom: 10px;
}

.topo-produto h3{
    font-size: 19px;
    color: #3E2723;
    flex: 1;
}

.preco{
    color: #A97142;
    font-size: 19px;
    font-weight: bold;
    min-width: 90px;
    text-align: right;
}

/* Descrição */

.produto p{
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 1.5;
}

/* Botão */

button{
    background: #A97142;
    color: white;

    border: none;

    padding: 10px 20px;

    border-radius: 8px;

    cursor: pointer;

    transition: .3s;
    display: block;
    margin-left: auto;
}

button:hover{
    background: #7B552F;
}

/* Produto oculto */

.oculto{
    display: none;
}

/* Rodapé */

#rodape{
    background: #3E2723;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}